In [62]:
import numpy as np
import pandas as pd
import time
from datetime import datetime, timedelta

import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv("birthdays.csv")
df.head()

               name     birthday  birthyear
0     Patrick Stetz      20 July     1995.0
1      Emmett Stetz        4 May     1994.0
2  Nathaniel Solley  29 November     1994.0
3    Nicholas Saber  3 September     1993.0
4      Taylor Money  17 November     1994.0

In [77]:
def get_birthdays(df, day, year):
    birthdays = df[df.birthday == day]
    birthdays["ages"] = year - birthdays.birthyear
    return birthdays

def format_notification(birthdays, message):
    if len(birthdays) == 0:
        message.append("None")
        return message
    for person in birthdays.values:
        name = person[0]
        age  = person[3]
        
        message.append(name)
        if not np.isnan(age):
            message.append(f" - {int(age)} yrs old")
        message.append("\n")
    return message

def get_notification(today, tomorrow, year):
    ### Today
    message = list("Today's Birthdays\n")
    birthdays_today = get_birthdays(df, today, year)
    message = format_notification(birthdays_today, message)
    
    ### Tomorrow
    message.append("\n")
    message.append("Tomorrow's birthdays\n")
    birthdays_tomorrow = get_birthdays(df, tomorrow, year)
    message = format_notification(birthdays_tomorrow, message)

    if len(birthdays_today) + len(birthdays_tomorrow) != 0:
        return "".join(message)
    return "No birthdays today or tomorrow"

def main():
    today, year = time.strftime("%-d %B"), int(time.strftime("%Y"))
    tomorrow = (datetime.strptime(today, "%d %B") + timedelta(days=1)).strftime("%-d %B")
    message  = get_notification(today, tomorrow, year)
    print(message)

main()

No birthdays today or tomorrow